{% extends "layout.twig" %}

{% block content %}

<section class="geotechnique-bg">
	<div class="col-sm-6 col-sm-offset-3 text-center" style="padding:20px;background-color:rgba(3,3,3,.8)">
		<h2>La géotechnique?</h2>
	</div>
</section>
	
{% endblock %}